/////////////heading sizes////////////////

$font-size-h1: 30px;
$font-size-h2: 22px;
$font-size-h3: 20px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 14px;

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}