select, input[type=text] {
  padding-top: $basic-space *2;
  padding-bottom: $basic-space * 2;
  border:5px solid $pink;
  border-radius: $basic-space;
  background: $main-white;
  color: $pink;
}


input[type=text]{
  margin-bottom: $basic-space*6;
}
