.page-numbers {
  display: flex;
  justify-content: center;
  margin-top: $basic-space *4;
  padding: 0;
  list-style: none;

  li {
    margin-right: $basic-space * 2;
    cursor: pointer;
    color: $main-dark;

    &:first-child {
      margin-left: $basic-space * 2;
    }

    &.active {
      text-decoration: underline;
      color: $text-gray;
    }
  }


}