.btn--primary {
  margin-top: $basic-space *4;
  margin-bottom: $basic-space *4;
  padding-top: $basic-space *2;
  padding-right: $basic-space *4;
  padding-bottom: $basic-space *2;
  padding-left: $basic-space *4;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 0px 24px $border-gray;
  font-size: 16px;
  background: linear-gradient(0deg, #f14437 0%, #ed5b0d 99%);
  color: $main-white;

  &:hover {
    background: $pink;
    color: $main-dark;
  }
}

.btn--special {
  display: inline-block;
  margin-top: $basic-space *3;
  margin-bottom: $basic-space * 4;
  padding-top: $basic-space;
  padding-right: $basic-space *4;
  padding-bottom: $basic-space;
  padding-left: $basic-space *4;
  border: 2px solid $footer-gray;
  border-radius: 20px;
  color: $main-white;


  &:hover {
    color: $gold;
    text-decoration: none;
  }
}