.utility-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: $basic-space *10;

  @include responsive($desktop) {
    flex-direction: row;
    margin-top: $basic-space *30;
    margin-bottom: $basic-space *30;
  }

  .card {
    position: relative;
    margin-top: $basic-space *15;
    margin-left: $basic-space *6;
    padding-top: $basic-space *10;
    width: auto;
    border: 3px solid $pink;

    @include responsive($desktop) {
      margin-top: 0;
    }

    .card__img {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -100%);
      width: 130px;
      background: $pink;
      border-radius: 50%;
    }

    &:hover {
      border: 3px solid $gold;
    }
  }
}

.utility-wrap--search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include responsive($desktop) {
    flex-direction: row;
  }

  .card {
    width: auto;
    margin-bottom: $basic-space *4;
    border: 3px dotted $gold;

    @include responsive($desktop) {
      &:not(:first-child) {
        margin-left: $basic-space*3;
      }
    }
  }
}

.card-body{
  display: flex;
  flex-direction: row;
}
.expanded-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 120px;
  max-width: 200px;
  border-left: 2px solid $gold;
  color: $text-gray;
  transition: all .3s;
  animation: fadeInOut 3s;
}

.normal-card {
  display: none;
}