.utility-wrap {
  // position: relative;
  display: flex;
  justify-content: center;

  .card {
    position: relative;
    width: 300px;
    // height:400px ;
    margin-left: 30px;

    .card__img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -70%);
      width: 130px;
      background: red;
      border-radius: 50%;
    }
  }
}

.utility-wrap--search{
  display: flex;
  justify-content: center;
}

.expanded-card {
  display: block;
  transition: all .3s;
  animation: fadeInOut 3s;
}

.normal-card {
  display: none;
}