.utility-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: $basic-space *10;

  @include responsive($desktop) {
    flex-direction: row;
    margin-bottom: $basic-space *30;
  }

  .card {
    position: relative;
    margin-left: 30px;
    width: 300px;
    border:3px solid $pink;
    // height:400px ;

    .card__img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -70%);
      width: 130px;
      background: $pink;
      border-radius: 50%;
    }
  }
}

.utility-wrap--search {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include responsive($desktop) {
    flex-direction: row;
  }
}

.expanded-card {
  display: block;
  transition: all .3s;
  animation: fadeInOut 3s;
}

.normal-card {
  display: none;
}