.info {
  text-align: center;
  padding-top: $basic-space*15;
  padding-bottom: $basic-space*20;

  color: $dark-blue;
  @include responsive($desktop) {
    border-bottom: 2px solid $gold;
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    color: $main-dark;
    @include responsive($desktop) {
      font-size: 50px;

    }
  }

  h3 {
    font-size: 16px;
    line-height: 30px;
    color: $text-gray;
    font-weight: 400;
  }

  &.dark{
    background: linear-gradient(0deg,#f14437 0%,#ed5b0d 99%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0 0);
  }
}