$main-pink: #f92672;
$main-dark: #191d34;
$main-white: #fff;
$main-blue: #87CEFA;
$dark-blue:#0155a4;
$main-yellow: #ffdb74;
$main-green: #66ba6d;
$main-purple: #64206b;
$text-gray:#909092;
$footer-gray:#f8f8f8;
////
$dark-blue:#080F5B;
$light-blue: #0D19A3;
$turquise: #15DB95;
$pink: #f54d15;
$gold:#e92b15;

$basic-space: 5px;
$basic-font-size: 22px;
$border-gray:#D3D3D3;


// Breakponts.
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$desktop-big: 1600px;


@font-face {
  font-family: 'Bubblegum';
  src: local('Bubblegum'), url("../../fonts/BubblegumSans-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'MarkWeb';
  src: local('MarkWeb'), url("../../fonts/MarkWebProMedium.otf") format('truetype');
}